.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin: 100px 50px 100px 50px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 100px;
  }

  .img{
    height: 100px;
    display: none;
  }

  .h1{
    padding-left: 30%;
  }

  .X{
    display: inline-block;
    background-color: lightblue;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-left: 40%;
  }

  .O{
    display: inline-block;
    background-color: lightpink;
    height: 100px;
    width: 100px;
    text-align: center;
  }